<footer class="site-footer">

  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>

	<ul>
		<li><a href="https://github.com/yycho0108">Github Page</a></li>
		<li>Current Address : 1000 Olin Way, Needham, MA</li>
		<li>Telephone : (+1) 213-220-3492</li>
	</ul>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
		  <li>{{ site.address }}</li>
		  <li>{{ site.phone}}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
